
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Nunito:wght@500&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200;900&display=swap');
body {
  /* background-color: #E0ECE4; */
  background-color: #f1f6ff;
  display: flex;
  min-height: 100vh;
  margin: 0;
}

.title {
  font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #61605e;
    padding: 0px 10px 2px 10px;
}

.floating{
    position:absolute;
    margin: auto;
    color: #b1b6b3;
    font-family: 'Source Sans Pro', sans-serif;
    
    opacity: 20%;
    z-index: -1;
}

main {
  margin: auto;
}

.sailing { 
    animation-name: sailing;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes sailing {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 8px); }
    to   { transform: translate(0, -0px); }   
}